body {
    margin: auto;
    background: url('home_background.jpg') no-repeat center fixed;     
    background-size: cover;
}

img {
    max-width: 1000px;
}

.fixedTop {
    background-color: rgb(98, 60, 50);
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.turnPage {
    background: none;
    margin-left: 30px;
    color:aliceblue;
    border: none;
    cursor: pointer;
    height: 34px;
    border-radius: 3px;
}

.topRight {
    margin-right: 30px;
}

.turnPage:hover {
    background-color: rgb(99, 139, 120);
}

.mainContent {
    position: relative;
    top: 80px;
    width: 96%;
    height: 1000px;
    display: flex;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    overflow: hidden;
}

.btnList {
    align-content: flex-start;
    width: 15%;
    margin: 30px 0px 30px 40px;
}

.btnLeft {
    color: rgb(130, 130, 100);
    display: block;
    background: none;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 30px;
    overflow: hidden;
}

.btnLeft:hover {
    color: black;
}

.sepLine {
    width: 2px;
    margin: 20px 5px;
    background-color: rgb(119, 123, 104);
}

.information {
    margin: 30px 20px 30px 40px;
    text-align: center;
}