.mainContent {
    position: relative;
    display: flex;
    flex-direction: row;
    top: 100px;
    width: 96%;
    height: 86%;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    overflow: auto;

}

.left-content {
    position: fixed;
    text-align: center;
    align-content: flex-start;
    width: 120px;
    height: 70%;
    margin: 30px 0px 30px 10px;
}

.left-content-title {
    font-size: xx-large;
    color: red;
    margin-bottom: 20px;
}

.line {
    background-color: lightgray;
    width: 100%;
    height: 2px;
}

.left-content-type {
    color: rgb(130, 130, 100);
    display: block;
    background: none;
    border: none;
    padding: 15px 0 15px 5px;
    font-size: x-large;
    overflow: hidden;
    width: 100%;
    text-align: start;
}

.sem-timetable-list {
    padding-left: 0px;
}

.sem-btn {
    background: none;
    border: none;
    font-size: small;
    color: black;
    margin-left: 0px;
    padding: 10px 3px;
    cursor: pointer;
    transition: opacity color 0.15s;
}

.sem-btn:hover {
    color: aqua;
}

.sem-btn:active {
    opacity: 0.5;
}

.sem-btn:focus {
    color: rgb(209, 93, 255);
}

.sepLine {
    position: fixed;
    left: 150px;
    width: 2px;
    height: 84%;
    margin: 10px 10px;
    background-color: rgb(119, 123, 104);
}

 .cover{
    width: 150px;
 }

.content {
    margin-top: 30px;
    margin-right: 10px;
    flex: 1;
    height: 90%;
}

.content-title {
    font-size: x-large;
    text-align: center;
}

.content-text {
    text-align: left;
    padding-left: 30px;
    font-size: 20px;
}

.content-picture {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-picture img {
    padding-bottom: 20px;
}