.mainContent {
    position: relative;
    top: 80px;
    width: 96%;
    height: 80%;
    display: flex;
    margin: auto;
    padding-bottom: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    overflow: hidden;
}

.btnList {
    background-color: beige;
    align-content: flex-start;
    width: 15%;
    margin: 30px 0px 30px 40px;
}

.btnLeft {
    color: rgb(130, 130, 100);
    display: block;
    background: none;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 40px;
    overflow: hidden;
    width: 100%;
    text-align: start;
    transition: opacity color 0.15s;
}

.btnLeft:hover {
    color: black;
}

.btnLeft:active {
    opacity: 0.5;
}

.sepLine {
    width: 2px;
    margin: 10px 10px;
    background-color: rgb(119, 123, 104);
}

.information {
    background-color: aquamarine;
    margin: 30px 20px 30px 20px;
    text-align: center;
    width: 80%;
}
