footer {
    width: 100%;
    height: 120px;
    background-color: rgba(151, 189, 238, 0.8);
    bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
    margin-top: auto;
}

.left-footer {
    flex: 1;
    text-align: center;
    margin-left: 40px;
}

.left-footer-title,
.right-footer-title {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 26px;
    color: white;
    /*padding-top: 10px;*/
}

.left-footer-content {
    text-align: center;
    padding-right: 30px;
    color: rgb(255, 255, 255);
}

.footer-line {
    width: 2px;
    height: 110%;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgb(203, 211, 255);
}

.right-footer{
    flex: 1;
    text-align: center;
    margin-right: 40px;
}

.right-footer-content {
    text-align: center;
    color: rgb(255, 255, 255);
}
