html, body{
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
}

body {
    margin: auto;
    background: url("../image/home_background.jpg") no-repeat fixed center;    
    background-size: cover;
}

img {
    max-width: 1000px;
}

p {
    padding-left: 10px;
}